:root {
  --main-text-colour: white;
}

html {
  background-color: rgb(35, 35, 35);
}

/* NAVBAR STYLING */

.hidden {
visibility: hidden;
width: 0px;
height: 0px;
}

.navbar {
  width: 100vw;
  color: var(--main-text-colour);
}

.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 3px 0 3px 0;
  margin-bottom: 10px;
  background-color: rgb(149, 91, 91);
}

.navbar-logo {
  cursor: pointer;
  padding-left: 5px;
}

.navbar-container-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
}

.navbar-button {
  cursor: pointer;
}

/* HIRAGANA PAGE STYLING */

.hiragana {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--main-text-colour);
  background-color: rgb(35, 35, 35);
}

.hiragana-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

/* DIFFICULTY COMPONENT STYLING */

.difficulty {
  display: flex;
  justify-content: center;
  width: 100%;
  color: var(--main-text-colour);
  padding-top: 10px;
}

.difficulty-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.difficulty-content {
  margin-left: -20px;
  padding: 4px;
}

.difficulty-select {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  transition: 250ms;
}

.difficulty-select--bg {
  transition: 250ms;
  background-color: rgb(156, 72, 72);
}

.difficulty-select:hover {
  background-color: rgb(179, 84, 84);
}

.type-visibility {
  width: 0px;
  height: 0px;
  visibility: hidden;
}

/* FLASH CARDS STYLING */

.flash-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--main-text-colour);
}

.flash-container-score-rounds {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;
}

.flash-title {
  font-size: 2em;
  padding-top: 2%;
  padding-bottom: 2%;
}

.flash-score {
  font-size: 1.3em;
  padding-bottom: 2%;
}

.flash-options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: 5em;
}

.flash-options-content {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 3.5em;
  padding-top: 25%;
  padding-bottom: 25%;
  border-radius: 5px;
  background-color: aquamarine;
  transition: 250ms;
}

.flash-options-content:hover {
  width: 3.8em;
  padding-top: 28%;
  padding-bottom: 28%;
  background-color: rgb(81, 255, 197);
}

.flash-answer {
  display: flex;
  justify-content: center;
  width: 60%;
}

.flash-answer-content {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 3.8em;
  border-radius: 5px;
  background-color: aqua;
}

.flash-answer-dropdown-correct {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 80%;
  background-color: greenyellow;
  border-radius: 5px;
  transition: 250ms;
}

.flash-answer-dropdown-incorrect {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 80%;
  background-color: rgb(227, 54, 54);
  border-radius: 5px;
  transition: 250ms;
}

.flash-results-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 80%;
  background-color: greenyellow;
  border-radius: 5px;
  transition: 250ms;
}

.flash-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;
}

.flash-buttons-start {
  width: 20%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 5%;
  border-radius: 5px;
  background-color: rgb(127, 234, 255);
}

.flash-buttons-start:hover {
  background-color: rgb(109, 209, 229);
}

.flash-buttons-reset {
  width: 20%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 5%;
  border-radius: 5px;
  background-color: rgb(127, 234, 255);
}

.flash-buttons-reset:hover {
  background-color: rgb(109, 209, 229);
}

/* STYLING FOR ROUND SELECTION */

.round {
  display: flex;
  justify-content: center;
  width: 100%;
}

.round-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60%;
}

.round-select {
  display: flex;
  justify-content: center;
  width: 15%;
  border-radius: 5px;

  cursor: pointer;
  transition: 250ms;
}

.round-select:hover {
  background-color: aqua;
}

.round-select--bg {
  background-color: aquamarine;
}

/* STYLING FOR TYPING */

.typing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.typing-rounds {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
}

.typing-score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.3em;
  width: 60%;
}

.typing-game {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.typing-game-answer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 40px;
  width: 3.8em;
  border-radius: 5px;
  background-color: aqua;
}

.typing-game-input {
  text-align: center;
  margin-bottom: 30px;
  border-radius: 5px;
  border: 2px solid rgb(59, 151, 120);
  background-color:rgb(80, 205, 163);
}

@media (max-width: 70rem) {
  .hiragana-container {
    width: 70%;
  }
  .difficulty-content {
    margin-left: 0;
    padding: 4px;
  }
  .difficulty-select {
    padding: 1px 2px 1px 2px;
  }
  .flash-options {
    width: 80%;
  }
}

@media (max-width: 40rem) {
  .hiragana-container {
    width: 100%;
  }
  .difficulty-content {
    margin-left: 0;
    padding: 4px;
  }
  .difficulty-select {
    padding: 1px 2px 1px 2px;
  }
  .flash-options {
    width: 90%;
  }
}

@media (max-width: 32rem) {
  .navbar-button {
    width: 0px;
    height: 0px;
    visibility: hidden;
  }
  .navbar-container-right {
    width: 15%;
    justify-content: center;
  }
  .hidden {
    visibility: visible;
  }
  .flash-container-score-rounds {
    justify-content: space-between;
    margin-right: 15px;
    width: 60%;
  }
  .flash-buttons-container {
    width: 80%;
  }
  .flash-buttons-start {
    width: 35%;
  }
  .flash-buttons-reset {
    width: 35%;
  }
  .round-container {
    width: 80%;
  }
  .typing-rounds {
    width: 80%;
  }
}